In [3]:
#print Hello World
print ('Hello World')

Hello World

In [8]:
print("my name is mirage \\' siuuu")

my name is mirage \' siuuu

In [10]:
input('what is your name?')

what is your name? mirage

'mirage'

In [13]:
# valid variable
a = 1
b = '2024'
name = 'sammy'
first_name = 'mirage'

In [18]:
name = input('what is your name?')
age = input('age')
DOB = input('DOB')
Czn = input('Czn')
print(f'Name: {name} \nAge: {age} \nDOB: {DOB} \nCzn: {Czn}')

ageaf10 = int(age) + 10
print(f'age after 10 yrs: {ageaf10}')

what is your name? mirage
age 20
DOB 2004
Czn 545465

Name: mirage
Age: 20
DOB: 2004
Czn: 545465
age after 10 yrs: 30

In [19]:
n = int(input('enter number: '))
if n % 2 == 0:
    print('even')
else:
    print('odd')

enter number:  11

odd

In [30]:
marks=int(input('marks:'))
if 0<marks<40:
         print('low')
elif 40<marks<70:
         print('mid')
else:
         print('high')

marks: 22

low

In [3]:
a = 1
for i in range(10):
    print(a)
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [13]:
for i in range(10, 0, -1):
    if i!=1:
        print(i, end=".")
    else:
        print(i, end="")

10.9.8.7.6.5.4.3.2.1

In [21]:
for i in range(1, 26):
    print(i, end = " ")
    if i%5==0:
        print("\n")

1 2 3 4 5

6 7 8 9 10

11 12 13 14 15

16 17 18 19 20

21 22 23 24 25

In [57]:
c = '1'
for i in range(6, 1, -1):
    for j in range(1, i):
        print(c, end="")
    print("")

11111
1111
111
11
1

In [67]:
for i in range(1, 21):
    if (i%5==0) & (i%3==0):
        print(i, 'fizzbuzz')
    elif i%3==0:
        print(i, 'fizz')
    elif i%5==0:
        print(i, 'buzz')

3 fizz
5 buzz
6 fizz
9 fizz
10 buzz
12 fizz
15 fizzbuzz
18 fizz
20 buzz

<h2>hw fibonacci</h2>

In [18]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [3]:
a, b= 0,1 
a,b=b,a
print (a)
print (b)

1
0

In [10]:
n= 17
a = 0
for i in range(2, n):
    if n%i==0:
        a = 1
if a == 1:
    print('no prime')
else:
    print('prime')

prime

In [20]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
Function takes certain parameter as input
returns some output

SYNTAX
'''
def func_name(argument/s):
    statements
    return(value)
'''

In [26]:
def is_prime(n):
    a = 0
    for i in range(2, n):
        if n%i==0:
            a == 1
            break
    if a == 1:
        return False
    else:
        return True
n=int(input('n'))
is_prime(n)

n 17

True

In [34]:
def rev(sentence):
    words=[]
    for word in sentence.split(' '):
        words.append(word)
    terminator = ''
    if words[-1].endswith('.') or words[-1].endswith('?'):
        terminator = words[-1][-1]
        words[-1]=words[-1][:-1]
    words.reverse()
    new_sentence = ' '.join(words)
    new_sentence=new_sentence+terminator
    print(new_sentence)

rev('I am mirage.')

mirage am I.

In [5]:
n=1
while n<=10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
while True:
    char = input("Enter a char or q to quit")
    if char == 'q':
        print('ended')
        break
    print (char)

Enter a char or q to quit q

ended

In [11]:
i = 0
while i<10:
    print(i+1)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [15]:
def function(a,b):
    print(a+b)

In [16]:
function('A', 'B')

AB

In [18]:
def function(a,b,c):
    res = a+b
    if c:
        res=res*c
    return res

In [19]:
function(1,2,3)

9

In [5]:
def int_to_roman(num):
    val = [
        1000, 900, 500, 400,
        100, 90, 50, 40,
        10, 9, 5, 4,
        1
        ]
    syb = [
        "M", "CM", "D", "CD",
        "C", "XC", "L", "XL",
        "X", "IX", "V", "IV",
        "I"
        ]
    roman_num = ''
    i = 0
    while num > 0:
        for _ in range(num // val[i]):
            roman_num += syb[i]
            num -= val[i]
        i += 1
    return roman_num

print(int_to_roman(3549))

MMMDXLIX

In [6]:
input_string = input("Enter a string: ")
vowel_count = 0
for char in input_string:
    if char == 'a' or char == 'A':
        vowel_count += 1
    elif char == 'e' or char == 'E':
        vowel_count += 1
    elif char == 'i' or char == 'I':
        vowel_count += 1
    elif char == 'o' or char == 'O':
        vowel_count += 1
    elif char == 'u' or char == 'U':
        vowel_count += 1
print("Number of vowels:", vowel_count)

Enter a string:  Mirage

Number of vowels: 3