# bit.ly/pgs_py_2024

### For the following questions you can either create a function or consider the last line of your code as output

1. Given a list nums, remove all instances of the value 3 and return the modified list.

```python
Input: nums = [1, 2, 3, 4, 3, 5]
Output: [1, 2, 4, 5]
```

In [12]:
nums = [1, 2, 3, 4, 3, 5]
for i in nums:
    if i == 3:
        nums.remove(i)
print(nums)

[1, 2, 4, 5]

2. Given a tuple t, convert it into a list, append the value 50 to it, and return the modified list.

```python
Input: t = (10, 20, 30, 40)
Output: [10, 20, 30, 40, 50]
```

In [14]:
t = (10, 20, 30, 40)
u = list(t)
u.append(50)
print(u)

[10, 20, 30, 40, 50]

3. Create a tuple of length 1. Confirm your answer by talling the type of the variable you create.

Similarly create empty tuple, set, and dictionary and verify it.

```python
type(a) == set
```

In [32]:
t = (1, 2, 3)
print(type(t))
u = (2, 4 ,5)
z = { 3, 4 ,5}
v = {3: 4,4: 5}
x  =[4, 5]
print(type(u))
print(type(v))
print(type(x))
print(type(z))
type(z)==set

<class 'tuple'>
<class 'tuple'>
<class 'dict'>
<class 'list'>
<class 'set'>

True

4. Given two sets set1 and set2, print the union, intersection, and difference between them.

```python
Input: set1 = {1, 2, 3}, set2 = {3, 4, 5}
Output:
Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference (set1 - set2): {1, 2}
```

In [37]:
set1 = {1, 2, 3} 
set2 = {3, 4, 5}
un = set1.union(set2)
ins = set1.intersection(set2)
diff = set1-set2
print (un)
print (ins)
print(diff)

{1, 2, 3, 4, 5}
{3}
{1, 2}

5. Given a list of integers nums, return a new list containing only the even numbers, maintaining the order.

```python
Input: nums = [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]
```

In [41]:
nums = [1, 2, 3, 4, 5, 6]
n = []
for i in nums:
    if i%2==0:
        n.append(i)
print(n)

[2, 4, 6]

6. Given a list of integers nums, return a dictionary where the keys are the items and the values are the counts of those items in the list.

```python
Input: nums = [1, 2, 2, 3, 3, 3, 4]
Output: {1: 1, 2: 2, 3: 3, 4: 1}
```

In [83]:
nums = [1, 2, 2, 3, 3, 3, 4]
d = {}
for num in set(nums):
    d[num] = nums.count(num)
print(d)

{1: 1, 2: 2, 3: 3, 4: 1}

7. Given a list of words words, create a dictionary where each key is the first character of a word, and the value is a list of all words that start with that character.

```python
Input: words = ["apple", "banana", "apricot", "blueberry", "cherry", "avocado"]
Output: {
    'a': ['apple', 'apricot', 'avocado'],
    'b': ['banana', 'blueberry'],
    'c': ['cherry']
}
```

In [4]:
words = ["apple", "banana", "apricot", "blueberry", "cherry", "avocado"]
a=[]
b=[]
c=[]
for word in words:
    if word[0]=='a':
        a.append(word)
    elif word[0]=='b':
        b.append(word)
    elif word[0]=='c':
        c.append(word)
print (a)
print(b)
print(c)

['apple', 'apricot', 'avocado']
['banana', 'blueberry']
['cherry']

In [24]:
words = ["apple", "banana", "apricot", "blueberry", "cherry", "avocado"]
fruits={}
for word in words:
    key = word[0]
    if key in fruits:
        fruits[key].append(word)
    else:
        fruits[key]=[word]
fruits

{'a': ['apple', 'apricot', 'avocado'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']}

8. Given a list of integers nums, find and return the first repeating element. If no element repeats, return -1.

```python
Input: nums = [1, 2, 3, 4, 5, 3, 2]
Output: 3

Input: nums = [1, 2, 3, 4, 5]
Output: -1
```

In [ ]:
nums = [1, 2, 3, 4, 5, 3, 2]

9. Given a list of dictionaries where each dictionary represents a student with name and score keys, return the name of the student with the highest score.


```python
Input: students = [{"name": "Alice", "score": 85}, {"name": "Bob", "score": 90}, {"name": "Charlie", "score": 78}]
Output: "Bob"
```

In [39]:
students = [{"name": "Alice", "score": 85}, {"name": "Bob", "score": 90}, {"name": "Charlie", "score": 78}]
high_score=0
name=''
for student in students:
    if student['score']>high_score:
        high_score = student['score']
        name=student['name']
print(name)

Bob

10. Given a string s containing just the characters (, ), {, }, [ and ], determine if the input string is valid. An input string is valid if:

Open brackets are closed by the same type of brackets.
Open brackets are closed in the correct order.


```python
Input: s = "()"
Output: True

Input: s = "([)]"
Output: False

Input: s = "{[]}"
Output: True

```

In [41]:
brac = input('brackets')

brackets (hafjhkahd())))

false

11. Given a list of integers nums, return the sum of all possible pairs in the list. A pair is defined as two different elements (nums[i], nums[j]) where i < j.
```python
Input: nums = [1, 2, 3]
Output: 11
Explanation: The pairs are (1,2), (1,3), and (2,3). Their sums are 3, 4, and 4, respectively. So, the total sum is 3 + 4 + 4 = 11.
```

In [53]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry